@model CompetenceViewModel

@{
    ViewData["Title"] = "Mis à jour des compétences";
}


<h1>Edition</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="CompetenceTechnique" class="form-label"></label>
                        <input asp-for="CompetenceTechnique" class="form-control" />
                        <span asp-validation-for="CompetenceTechnique" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Categorie" class="form-label"></label>
                        <input asp-for="Categorie" class="form-control" />
                        <span asp-validation-for="Categorie" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Retour à la liste
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
