<div class="container-fluid text-center vh-100 d-flex flex-column">
    <h4 class="text-nowrap display-4 mt-4">
        Bienvenue sur votre application de gestion de consultants
    </h4>

    <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
        <div style="max-width: 800px;">
            <p>
                Bienvenue sur notre plateforme dédiée à la gestion intelligente des missions et des compétences !
                Pensée pour les entreprises exigeantes, notre application vous accompagne dans le pilotage de vos projets,
                le suivi de vos consultants, et l’optimisation de vos ressources. Grâce à une interface intuitive, des
                fonctionnalités robustes et une architecture fiable, vous gagnez en efficacité, en visibilité et en sérénité.
                Explorez, gérez, et propulsez vos missions vers le succès.
            </p>
            <b>Nous sommes ravis de vous compter parmi nos utilisateurs !</b>
        </div>
    </div>
</div>
